*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}
body{
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coordinats{
    background-color: rgb(88, 211, 227);
    border: 5px;
    width: 600px;
   margin: 10px; 
}

img{
    margin: 10px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.7s linear infinite;
    position: absolute;
    top: 50%;
    left: 45%;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .hide {
    /* убирает элемент из DOM дерева */
    display: none;
  }